body{
    background-color: #A9D0FF;
    color: #283C55;
}

.container{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.content{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 180px;
}

.content h1{
    font-size: 85px;
}

#title-1{
    font-family: "Dancing Script", cursive;
    position: relative;
    left: -100px;
}

#title-2{
    font-family: "Jersey 10", sans-serif;
}

#title-3{
    font-family: "Jersey 10", sans-serif;
    position: relative;
    left: 100px;
}

.button{
    font-size: 35px;
    font-family: "Jersey 10", sans-serif;
    background-color: #B0C0D5;
    border: solid #283C55;
    border-radius: 20px;
    padding: 10% 40%;
    color: #283C55;
}

.button:visited{
    color: #283C55;
}

.button:hover{
    background-color: #7995b9;
}

.footer{
    background-color: gainsboro;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}